mat-toolbar{
    background-color: #348cb7;
    color: white;
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.example-form{
    margin: 2%;
}

.example-full-width{
    width: 100%;
}

